
.banner {
  height: 210px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../public/images/banner1.jpg');
}

.banner-text {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.btn-space {
  margin-right: 8px;
}